.main-background {
    background-color: white;
}

.title-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question-display {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
}

.qbackground.goodanswer {
    background-color: lawngreen;
    left:10px;
    right:10px;
}

.qbackground.wronganswer {
    background-color: red;
    left: 10px;
    right: 10px;
}

.qbackground.undefined {
    background-color: white;
    left: 10px;
    right: 10px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
}